---
const menuItems = ["projects", "about", "contact"]
---

<header class="bg-white shadow-md">
	<div class="mx-auto px-8 py-4 flex items-center justify-between md:justify-start">
		<!-- Logo -->
		<a class="text-2xl font-bold text-gray-800" href="/">hsarchitect.id</a>

		<!-- Desktop Menu -->
		<nav class="hidden md:flex gap-6 text-gray-700 ml-8">
			{
				menuItems.map((item) => (
					<a
						href={`${item.toLowerCase()}`}
						class="hover:text-black transition"
					>
						{item}
					</a>
				))
			}
		</nav>

		<!-- Hamburger Icon -->
		<button class="md:hidden flex items-center" aria-label="Toggle Menu">
			<svg
				class="w-6 h-6 text-gray-800"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				viewBox="0 0 24 24"
				stroke-linecap="round"
				stroke-linejoin="round"
			>
				<path d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>

	<!-- Mobile Menu -->
	<div id="mobile-menu" class="md:hidden hidden min-h-screen px-8 pb-4">
		<nav class="flex flex-col gap-4 text-gray-700">
			{
				menuItems.map((item) => (
					<a
						href={`${item.toLowerCase()}`}
						class="hover:text-black transition"
					>
						{item}
					</a>
				))
			}
		</nav>
	</div>
</header>

<script>
	setTimeout(() => {
		const button = document.querySelector(
			'button[aria-label="Toggle Menu"]',
		)
		const menu = document.getElementById("mobile-menu")

		if (button && menu) {
			button.addEventListener("click", () => {
				menu.classList.toggle("hidden")
			})
		}
	}, 0)
</script>
