---
import "../styles/global.css"

import Head from "../components/Head.astro"
import Sidebar from "../components/Sidebar.astro"
---

<html lang="en">
	<Head />
	<div class="w-full h-screen bg-[#071E50] p-16 flex">
		<Sidebar>
			<slot name="sidebar" slot="sidebar" />
		</Sidebar>

    <div class="flex-1">
      <slot name="content" />
    </div>
	</div>
</html>
