---
import "../styles/global.css"

import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
---

<html lang="en">
  <Head />
  <Header />
  <body>
    <slot/>
  </body>
</html>